body{
    margin: 2px;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color: #ffffff;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-content{
    display: flex;
    align-items: center;
}
.logo-content-img{
    order: 0px solid #5dd667;
}

.emp-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    color: green;
}
.emp-payroll{
    color: #4b6174;
}

.form-content{
    min-height: calc(100%-80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    
}

.form{
    width: 65%;
    border: 0px solid green;
    padding: 44px 60px;
    border-radius: 8px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.form-head{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.row-content{
    display: flow-root;
    flex-direction: row;
    margin-bottom: 10px;
    border: 0px solid;
    color: green;
}
.lable {
    padding: 12px 90px 12px 0;
    display: inline-block;
    font-size: 20px;
    opacity: 1;
}
.input{
    width: 61%;
    padding: 12px;
    border: 1px solid;
    color: #ccc;
    border-radius: 5px;
    resize: vertical;
}

.lable-text{
    font-size: 20px;
}

.profile-radio-content{
    padding: 15px 15px 15px 25px;
    display: inline-block;
    font-size: 20px;
    opacity: 1;
}
.profile{
    width: 40px;
}

.label-text1{
    padding: 15px 60px 12px 0;
    font-size: 20px;
    opacity: 1;
}

.gender-radio-content{
    display: inline-block;
    padding: 15px 15px 10px;   
}

.label-text2{
    padding: 12px 40px 12px 0px;
    display: inline-block;
    font-size: 20px;
    opacity: 1;
}

.department-checkbox-content{
    display: inline-block;
    padding: 0px 13px 14px 0px;   
}

.label-text3{
    padding: 15px 85px 12px 0px;
    font-size: 20px;
    opacity: 1;
}

select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}

.label-text4{
    font-size: 20px;
    padding: 20px 55px 20px 0px;
    display: inline-block;
}
.date{
    display: contents;
}